<nav class="flex flex-col w-70 h-screen bg-blue-500 text-white">
    <div class="p-5">
        <img src="/image/Logo.svg" alt="" />
    </div>
    <!-- List -->
    <div>
        <ul class="mt-4">
            <!-- Button -->
             <a href="Dashboard.html" class="block w-full">
                <div class="relative h-35 w-full">
                <img src="/image/Button.svg" alt="" class="absolute top-0 left-4 h-full w-1000" />
                     <div
                     class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-orange-500 font-bold text-2xl">
                     Dashboard
                    </div>
                </div>
            </a>
            <!-- Content Nav -->
            <div class="relative w-full z-1">
                <div class="absolute left-1/2 -translate-x-1/2 top-0 text-sm">
                    <li>
                        <a href="Matematika.html" class="text-2xl text-orange-400 font-bold block px-4 py-2 hover:bg-gray-700">Matematika</a>


                        <a href="#" class="text-2xl block px-4 py-2 hover:bg-gray-700">B. Indonesia</a>


                        <a href="#" class="text-2xl block px-4 py-2 hover:bg-gray-700">IPA</a>
                    </li>
                    <li class="mt-4">
                        <a href="Schedule.html"
                            class="text-2xl block px-4 py-2 hover:bg-gray-700 font-bold">Schedule</a>
                    </li>
                    <li class="mt-4">
                        <a href="Community.html"
                            class="text-2xl block px-4 py-2 hover:bg-gray-700 font-bold">Community</a>
                    </li>
                </div>
            </div>
        </ul>
    </div>
    <div class="relative w-[110%] mt-auto z-0">
        <!-- <div class="bottom-0 left-0 w-full"> -->
        <img src="/image/Bg_Logo_Side.svg" alt="" class="" />
    </div>
    </div>
</nav>